#root {
  background-color: #202124;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.mb-3 {
  background-color: green;
  color: white;
  padding: 2vmax;
  border-radius: 2vmax;
}

.login-button {
  margin-top: 1vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 8rem;
}

.test {
  color: white;
}

/* @media screen and (max-width: 350px) {
  .container {
    display: block;
  }
} */